

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.nav-list li {
    width: 50%;
}

header {
    --border-width: 5px;
}

ul {
    margin: 10px;
    border: 6px solid brown;
}

li {
    margin: 0;
    border: 6px solid rgb(105, 162, 105);
}

.columns {
    display: flex;
    gap: 2rem;
    border: 10px solid firebrick;
    align-items: center;
}

.columns > * {
    flex-basis: 100%;
}

.card {
    background-color: lightblue;
    padding: 1rem;
}

@media(max-width: 800px) {
    .columns {
        flex-direction: column;
    }
    
}